<!--<app-rule-item *ngFor="let rule of rules" [rule]="rule"></app-rule-item>-->
<div fxLayout="column">
  <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" id="header" fxLayout.gt-sm="row" fxLayout.lt-sm="column"
       fxLayoutAlign.gt-sm="space-between center">
    <button mat-raised-button (click)="downloadAsJson()" [ngStyle]="{'margin-bottom': '0.5em'}">
      Download Data
    </button>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Log Type</mat-label>
        <mat-select [(ngModel)]="logType" (selectionChange)="loadLogs()">
          <mat-option>All</mat-option>
          <mat-option value="rules">Rules Triggered</mat-option>
          <mat-option value="badges">Badge Assigned</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" [max]="untilDate || maxDate"
                 (dateChange)="intervalChanged('from', $event)">
          <input matEndDate placeholder="End date" [max]="maxDate" (dateChange)="intervalChanged('until', $event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{'ACA'}}</mat-label>
        <mat-select (selectionChange)="loadLogs()" [(ngModel)]="selectedAca">
          <mat-option>All</mat-option>
          <mat-option *ngFor="let aca of acaList" [value]="aca.url">{{ aca.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

    </div>
    <div>
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Actor Column -->
        <ng-container matColumnDef="actor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actor</th>
          <td mat-cell *matCellDef="let row"> {{row.actor}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let row"> {{row.date.toLocaleString()}} </td>
        </ng-container>

        <!-- ACA Column -->
        <ng-container matColumnDef="logType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Log Type</th>
          <td mat-cell *matCellDef="let row"><b>{{  isLogRule(row) ? 'Rule Triggered' : 'Badge Assigned' }}</b></td>
        </ng-container>

        <!-- ACA Column -->
        <ng-container matColumnDef="aca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ACA</th>
          <td mat-cell *matCellDef="let row"><a [href]="row.aca" target="_blank">{{ getAcaName(row.aca)}}</a></td>
        </ng-container>

        <!-- GROUP Column -->
        <ng-container matColumnDef="group">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Group</th>
          <td mat-cell *matCellDef="let row"> {{row.group}} </td>
        </ng-container>

        <!-- Rule Column -->
        <ng-container matColumnDef="rule">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rule Reward</th>
          <td mat-cell *matCellDef="let row">
            <div *ngIf="row.rule" fxLayout="row" fxLayoutAlign="space-between center">
              <div fxLayout="column">
                <div *ngFor="let variable of  row.rule.rewards[row.role]" fxLayout="row">
                  <b>{{variable.assignment > 0 ? '+' : '' }}{{ variable.assignment }} {{ variable.name }}
                  </b>
                </div>
              </div>
              <button mat-stroked-button (click)="openRuleDialog(row.rule)">Rule Info</button>
            </div>
          </td>
        </ng-container>

        <!-- Badge Column -->
        <ng-container matColumnDef="badge">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Badge</th>
          <td mat-cell *matCellDef="let row"><b *ngIf="row.badge">{{ row.badge.containerReference.name }}
            - {{ row.badge.name }}</b></td>
        </ng-container>

        <!-- Badge Column -->
        <ng-container matColumnDef="activity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity</th>
          <td mat-cell *matCellDef="let row"><a *ngIf="isLogRule(row) && row.event.activity_objects"
                                                [href]="getActivityURL(row.event.activity_objects[0].properties)"
                                                target="_blank">Go to Activity</a></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="[ isLogRule(row) ? 'rule-row' : 'badge-row']"></tr>
      </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
