table {
  width: 100%;
}

#header {
  padding: 0.5em;

  mat-form-field {
    width: calc(33% - 0.5em);
    padding: 0 0.3em
  }
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-progress-spinner circle, ::ng-deep .mat-spinner circle {
  stroke: red;
}

.mat-column-rule {
  max-width: 5rem;
}

.mat-column-actor {
  width: 0.3rem;
}

.mat-column-date {
  max-width: 3rem;
}

.mat-column-logType{
  max-width: 3rem;
}

.mat-column-aca{
  max-width: 4rem;
}

.mat-column-group{
  max-width: 4rem;
}

.badge-row{
  background-color: #cdb1ff;
}

.rule-row{
  background-color: #8cd9ff;
}
