<div>
  <h3>Add new Property</h3>
  <form fxLayout.gt-sm="row" fxLayout.lt-sm="column" [formGroup]="newPropertyFormGroup">
    <mat-form-field appearance="fill" [ngStyle.gt-sm]="{'margin-right':'1em'}" >
      <mat-label>Property</mat-label>
      <mat-select #activityObjectSelected formControlName="propertyName">
        <mat-option>- No Preset -</mat-option>
        <mat-option *ngFor="let p of concept.propertyList" [value]="p">
          {{ p.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>
        Value
      </mat-label>
      <div *ngIf="activityObjectSelected.value">
        <div [ngSwitch]="activityObjectSelected.value.range">
          <input matInput formControlName="propertyValue" [disabled]="!activityObjectSelected.value" *ngSwitchDefault/>
          <input matInput formControlName="propertyValue" *ngSwitchCase="'Instant'" type="datetime-local"/>
          <input matInput formControlName="propertyValue" *ngSwitchCase="'dateTimeStamp'" type="datetime-local"/>
          <input matInput formControlName="propertyValue" *ngSwitchCase="'boolean'" type="checkbox"/>
          <input matInput formControlName="propertyValue" *ngSwitchCase="'integer'" type="number"/>
        </div>
      </div>
      <div *ngIf="!activityObjectSelected.value">
        <input matInput formControlName="propertyValue" disabled/>
      </div>
    </mat-form-field>
  </form>
  <div [ngStyle]="{'margin-top':'1em'}" fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button [ngStyle]="{'margin-right':'1em'}" (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="getResponse()" [disabled]="newPropertyFormGroup.invalid">
    <mat-icon aria-hidden="false" aria-label="add property to rule">add</mat-icon>
    Add Property
  </button>
</div>
</div>
