<h2> {{'rules.new.title' | translate}}</h2>
<mat-dialog-content>
  <mat-horizontal-stepper linear (selectionChange)="changeStep($event)">
    <mat-step [stepControl]="ruleCreationFormGroup">
      <ng-template matStepLabel>Build</ng-template>
      <mat-list *ngIf="ruleCreationFormGroup.invalid">
        <mat-list-item [ngStyle]="{'color':'#f44336'}"
                       *ngIf="ruleCreationFormGroup.get('activityType').hasError('required')">
          <mat-icon mat-list-icon>error</mat-icon>
          <div mat-line>Activity Type not selected.</div>
        </mat-list-item>
        <mat-list-item [ngStyle]="{'color':'#f44336'}"
                       *ngIf="ruleCreationFormGroup.get('rewards').hasError('rewardsNotSelected')">
          <mat-icon mat-list-icon>error</mat-icon>
          <div mat-line>No rewards selected.</div>
        </mat-list-item>
        <mat-list-item [ngStyle]="{'color':'#f44336'}"
                       *ngIf="ruleCreationFormGroup.get('repetitions').hasError('required')">
          <mat-icon mat-list-icon>error</mat-icon>
          <div mat-line>Repetitions</div>
        </mat-list-item>
      </mat-list>
      <div ngClass.gt-sm="rule-container">
        <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign.gt-sm="space-evenly stretch"
             [formGroup]="templatesFormGroup">
          <mat-form-field [ngStyle.gt-sm]="{'margin-right':'1em','margin-top':'0.8em'}">
            <mat-label>
              {{'rules.new.templateSearch' | translate}}
            </mat-label>
            <input matInput formControlName="templateSearch"/>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Templates</mat-label>
            <mat-select formControlName="templateSelection">
              <mat-option>- None -</mat-option>
              <mat-option *ngFor="let ruleTemplate of templatesOptions  | async" [value]="ruleTemplate">
                {{ ruleTemplate.activity }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-divider [ngStyle]="{'margin-bottom':'0.5em'}"></mat-divider>
        <div [formGroup]="ruleCreationFormGroup" id="container-build">
          <div fxLayout="column">
            <mat-form-field appearance="fill">
              <mat-label>Activity Type</mat-label>
              <mat-select required formControlName="activityType">
                <mat-option *ngFor="let activity_type of activityTypes" [value]="activity_type">
                  {{ activity_type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>ACAs</mat-label>
              <mat-select multiple placeholder="All" formControlName="acas" #acas>
                <mat-select-trigger *ngIf="acas.value">
                  {{acas.value.length > 0 ? acas.value.length + ' ACAs' : 'All'}}
                </mat-select-trigger>
                <mat-select-trigger *ngIf="!acas.value">
                  No ACA Selected
                </mat-select-trigger>
                <mat-option *ngFor="let aca of acaList" [value]="aca">{{aca.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Activity Object
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div fxLayout="column">
                <div fxLayout.gt-sm="row" fxLayout.lt-sm="column"
                     fxLayoutAlign.gt-sm="space-between center">
                  <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="activityObjectType">
                      <mat-option>---</mat-option>
                      <mat-option *ngFor="let c of concepts" [value]="c">
                        {{ c }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <button [disabled]="!conceptSelected" (click)="openConceptNewPropertyDialog()"
                          mat-raised-button>
                    <mat-icon>add</mat-icon>
                    Add new Property
                  </button>
                </div>
                <table #AOPTable mat-table [dataSource]="activityObjectProperties"
                       class="mat-elevation-z8"
                       [ngStyle]="{'margin-top':'0.3em'}">
                  <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let prop">
                      <mat-icon-button>
                        <mat-icon (click)="deleteAOP(prop)">delete</mat-icon>
                      </mat-icon-button>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Property Name</th>
                    <td mat-cell *matCellDef="let prop">{{prop.propertyName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef> Property Value</th>
                    <td mat-cell *matCellDef="let prop">{{prop.propertyValue}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="propsDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: propsDisplayedColumns;"></tr>
                </table>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Reference Object
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div fxLayout="column">
                <div fxLayout.gt-sm="row" fxLayout.lt-sm="column"
                     fxLayoutAlign.gt-sm="space-between center">
                  <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="referenceObjectType">
                      <mat-option *ngFor="let c of concepts" [value]="c">
                        {{ c }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button [disabled]="!referenceSelected" (click)="openReferenceNewPropertyDialog()"
                          mat-raised-button>
                    <mat-icon>add</mat-icon>
                    Add new Property
                  </button>
                </div>
                <table #ROPTable mat-table [dataSource]="referenceObjectProperties"
                       class="mat-elevation-z8"
                       [ngStyle]="{'margin-top':'0.3em'}">
                  <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let prop">
                      <button mat-icon-button>
                        <mat-icon (click)="deleteROP(prop)">delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Property Name</th>
                    <td mat-cell *matCellDef="let prop">{{prop.propertyName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef> Property Value</th>
                    <td mat-cell *matCellDef="let prop">{{prop.propertyValue}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="propsDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: propsDisplayedColumns;"></tr>
                </table>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Rewards *
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div formGroupName="rewards">
                <div fxLayout="column">
                  <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button (click)="openNewActorRewardDialog()">
                      <mat-icon>add</mat-icon>
                      Add reward to Activity Actor
                    </button>
                  </div>
                  <table #ActorRewardsTable mat-table [dataSource]="actorRewards"
                         class="mat-elevation-z8"
                         [ngStyle]="{'margin-top':'0.3em'}">
                    <ng-container matColumnDef="delete">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let prop">
                        <button mat-icon-button>
                          <mat-icon (click)="deleteAReward(prop)">delete</mat-icon>
                        </button>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="variable">
                      <th mat-header-cell *matHeaderCellDef> Variable</th>
                      <td mat-cell *matCellDef="let rew">{{rew.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="assignment">
                      <th mat-header-cell *matHeaderCellDef> Assignment</th>
                      <td mat-cell *matCellDef="let rew">{{rew.assignment}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="propsDisplayedColumnsAssignment"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: propsDisplayedColumnsAssignment;"></tr>
                  </table>
                  <div fxLayout="row" fxLayoutAlign="end center" [ngStyle]="{'margin-top':'1em'}">
                    <button mat-raised-button (click)="openNewRefOwnRewardDialog()">
                      <mat-icon>add</mat-icon>
                      Add reward to Reference Owner
                    </button>
                  </div>
                  <table #RefOwnRewardsTable mat-table [dataSource]="refOwnRewards"
                         class="mat-elevation-z8"
                         [ngStyle]="{'margin-top':'0.3em'}">
                    <ng-container matColumnDef="delete">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let rew">
                        <button mat-icon-button>
                          <mat-icon (click)="deleteROReward(rew)">delete</mat-icon>
                        </button>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="variable">
                      <th mat-header-cell *matHeaderCellDef> Variable</th>
                      <td mat-cell *matCellDef="let rew">{{rew.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="assignment">
                      <th mat-header-cell *matHeaderCellDef> Assignment</th>
                      <td mat-cell *matCellDef="let rew">{{rew.assignment}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="propsDisplayedColumnsAssignment"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: propsDisplayedColumnsAssignment;"></tr>
                  </table>
                </div>
                <!--              <div *ngFor="let role of getAllRoles()" [formGroupName]="role" fxLayout="column">-->
                <!--                <div fxLayout="row" fxLayoutAlign="start space-between" [ngStyle]="{'color':'rgb(144 144 144)'}">-->
                <!--                  <span [ngStyle]="{'font-size':'16px'}">Assignment to {{ myGetRoleToString(role) }}</span>-->
                <!--                </div>-->
                <!--                <div>-->
                <!--                  <mat-form-field appearance="fill">-->
                <!--                    <mat-label>Variable</mat-label>-->
                <!--                    <input matInput [matAutocomplete]="auto" formControlName="variableName">-->
                <!--                    <mat-autocomplete #auto="matAutocomplete">-->
                <!--                      <mat-option *ngFor="let option of variablesFilteredOptions[role] | async" [value]="option">-->
                <!--                        {{option}}-->
                <!--                      </mat-option>-->
                <!--                    </mat-autocomplete>-->
                <!--                  </mat-form-field>-->
                <!--                  <mat-form-field appearance="fill">-->
                <!--                    <mat-label>Assignment</mat-label>-->
                <!--                    <input matInput type="number" step="1" formControlName="variableValue">-->
                <!--                  </mat-form-field>-->
                <!--                </div>-->
                <!--              </div>-->
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel fxLayout="column">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Temporal Properties
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" formGroupName="temporal">
                <mat-form-field [ngStyle.gt-sm]="{'margin-right':'1em'}">
                  <mat-label>
                    Valid From
                  </mat-label>
                  <input matInput type="datetime-local" formControlName="validFrom" #validFrom/>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>
                    Valid Until
                  </mat-label>
                  <input matInput type="datetime-local" formControlName="validTo" #validTo/>
                  <mat-error
                    *ngIf="ruleCreationFormGroup.get('temporal').get('validTo').hasError('beforeNow')">
                    'Valid Until' is in the past
                  </mat-error>
                </mat-form-field>
              </div>
              <mat-error *ngIf="ruleCreationFormGroup.get('temporal').hasError('validToBeforeValidFrom')">
                'Valid Until' is before 'Valid From'
              </mat-error>
              <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" formGroupName="repetitions">
                <mat-form-field [ngStyle.gt-sm]="{'margin-right':'1em'}">
                  <mat-label>
                    Max Daily Repetitions
                  </mat-label>
                  <input matInput type="number" min="1" step="1" formControlName="day"
                         #repetitionsDay/>
                  <mat-error
                    *ngIf="ruleCreationFormGroup.get('repetitions').get('day').hasError('min')">
                    Cannot be less than 1
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>
                    Max Over All Repetitions
                  </mat-label>
                  <input matInput type="number" min="1" step="1" formControlName="ever"
                         #repetitionsEver/>
                  <mat-error
                    *ngIf="ruleCreationFormGroup.get('repetitions').get('ever').hasError('min')">
                    Cannot be less than 1
                  </mat-error>
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div [ngStyle]="{'margin-top':'1em'}" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button [ngStyle]="{'margin-right':'1em'}" mat-dialog-close>Cancel</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Preview and Save</ng-template>
      <app-rule-preview [rule]="rule" [acaList]="acaList"></app-rule-preview>
      <div [ngStyle]="{'margin-top':'1em'}" fxLayout="row" fxLayoutAlign.gt-sm="end center">
        <button mat-raised-button [ngStyle.gt-sm]="{'margin-right':'1em'}">Cancel</button>
        <button mat-raised-button (click)="saveRule()">
          <mat-icon aria-hidden="false" aria-label="Delete Image">save</mat-icon>
          Create Rule
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
