.rule-form-group {
  padding: 0.5em;
  border-radius: 10px;
  margin: 0.3em 0;
}

.mat-expansion-panel{
  margin-bottom: 1em !important;
  background-color: #eff8ff;
}

.rule-container{
  max-height: 75vh;
  overflow-y: auto;
}
