<mat-dialog-content>
  <mat-horizontal-stepper #stepper linear id="badge-edit-container" (selectionChange)="stepChange($event)">
    <mat-step [stepControl]="badgeContainerFormGroup">
      <form [formGroup]="badgeContainerFormGroup" id="firstStep">
        <ng-template matStepLabel>Badge Container</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Choose Type</mat-label>
          <mat-select formControlName="type" (selectionChange)="badgeContainerTypeChange($event)">
            <mat-option *ngFor="let type of badgeContainerType" [value]="type.key">{{ type.label }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
          <mat-form-field appearance="fill" class="badge-properties">
            <mat-label>ACA</mat-label>
            <mat-select placeholder="All" formControlName="aca">
<!--              <mat-select-trigger *ngIf="badgeContainerFormGroup.get('aca').value">-->
<!--                {{badgeContainerFormGroup.get('aca').value.length > 0 ? badgeContainerFormGroup.get('aca').value.length + ' ACAs' : 'All'}}-->
<!--              </mat-select-trigger>-->
              <mat-select-trigger *ngIf="!badgeContainerFormGroup.get('aca').value">
                No ACA Selected
              </mat-select-trigger>
              <mat-option *ngFor="let aca of acaList" [value]="aca.url">{{aca.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="badge-properties"
                          *ngIf="badgeContainerFormGroup.get('type').value=== 'aca' || badgeContainerFormGroup.get('type').value=== 'ranking'">
            <mat-label>Timeframe</mat-label>
            <mat-select formControlName="timeframe" required>
              <mat-option *ngFor="let timeframe of badgeContainerTimeframe"
                          [value]="timeframe.key">{{ timeframe.label }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="badge-properties"
                          *ngIf="badgeContainerFormGroup.get('type').value=== 'ranking'">
            <mat-label>Variable</mat-label>
            <mat-select formControlName="variable" required>
              <mat-option *ngFor="let variable of listVariable"
                          [value]="variable">{{ variable }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="badgeListFormGroup">
      <form [formGroup]="badgeListFormGroup">
        <ng-template matStepLabel>Badge Levels</ng-template>
        <div fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
          <button mat-raised-button (click)="clickNewBadge()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
            Add Badge
          </button>
          <mat-error *ngIf="badgeListFormGroup.getError('duplicates')">
            Two or more badges have the same positions.
          </mat-error>
        </div>
        <div [ngSwitch]="badgeContainerFormGroup.get('type').value">
          <div *ngSwitchCase="'ranking'">
            <app-badge-position *ngFor="let badge of badgeContainer.getBadgeList()"
                                [badge]="badge"
                                [badgeFormGroup]="badgeListFormGroup.get(badge.id)"
                                [preview]="false"
            ></app-badge-position>
            <app-badge-position *ngFor="let badge of newBadgesList"
                                [badgeFormGroup]="badgeListFormGroup.get(badge.id)"
                                [badge]="badge"
                                [preview]="false"
            ></app-badge-position>
          </div>
          <div *ngSwitchDefault>
            <app-badge-step *ngFor="let badge of badgeContainer.getBadgeList();let i = index"
                            [previousBadgeComponent]="getBadgeStepComponent(i-1)"
                            [badgeContainerName]="badgeContainerNewName"
                            [badgeFormGroup]="badgeListFormGroup.get(badge.id)"
                            [badge]="badge" [badgeList]="allBadgesList" [listVariable]="listVariable"
                            [editMode]="editMode"
                            [editable]="false"
                            [preview]="false"></app-badge-step>
            <app-badge-step *ngFor="let badge of newBadgesList;let i = index"
                            [previousBadgeComponent]="getBadgeStepComponent(i+badgeContainer.getBadgeList().length-1)"
                            [badgeFormGroup]="badgeListFormGroup.get(badge.id)"
                            [badgeContainerName]="badgeContainerNewName"
                            [badge]="badge" [badgeList]="allBadgesList" [listVariable]="listVariable"
                            [editMode]="editMode"
                            [editable]="true"
                            [preview]="false"></app-badge-step>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Save</ng-template>
      <div [ngSwitch]="badgeContainerFormGroup.get('type').value">

        <div *ngSwitchDefault>
          <app-badge-step *ngFor="let badge of badgeContainerToSave.getBadgeList();let i = index"
                          [previousBadgeComponent]="getBadgeStepComponent(i-1)"
                          [badgeContainerName]="badgeContainerNewName"
                          [badgeFormGroup]="badgeListFormGroup.get(badge.id)"
                          [badge]="badge" [badgeList]="allBadgesList" [listVariable]="listVariable"
                          [editMode]="editMode"
                          [editable]="false"
                          [preview]="true"></app-badge-step>
        </div>
        <div *ngSwitchCase="'ranking'">
          <app-badge-position *ngFor="let badge of badgeContainerToSave.getBadgeList()"
                              [badge]="badge"
                              [badgeFormGroup]="badgeListFormGroup.get(badge.id)"
                              [preview]="true"
          ></app-badge-position>
        </div>
      </div>
      <div [ngStyle]="{'margin-top':'1em'}">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button [ngStyle.gt-sm]="{'margin-left':'1em'}">Cancel</button>
        <!--      <button mat-button (click)="saveBadgeContainer()" [disabled]="!isBadgeContainerReady">Save this Badge Container</button>-->
        <button mat-raised-button [ngStyle.gt-sm]="{'float':'right'}" (click)="saveBadgeContainer()">
          <mat-icon aria-hidden="false" aria-label="Delete Image">save</mat-icon>
          Save Badge Container
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
