<mat-expansion-panel class="badge-content" multi hideToggle expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ badgeNewName }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="badgeFormGroup" *ngIf="badge !== undefined" fxLayout.lt-sm="column">
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex.gt-sm="25%" id="logo-container" [ngStyle.gt-sm]="{'margin-right':'1em'}">
      <img *ngIf="badgeNewLogo" [src]="badgeNewLogo"/>
      <mat-icon *ngIf="!badgeNewLogo" aria-hidden="false" aria-label="Example home icon">emoji_events</mat-icon>
      <button mat-raised-button [ngStyle]="{'width':'100%'}" (click)="openLogoGallery()" *ngIf="!preview">Choose Image</button>
    </div>
    <div id="badgeInfo" fxFlex.gt-sm="75%" fxLayout="column" fxLayoutAlign.lt-sm="start stretch">
      <mat-form-field appearance="fill" [ngStyle.gt-sm]="{'max-width':'40%'}"  *ngIf="!preview">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="badgeFormGroup.get('name').hasError('required')">
          A Badge must have a name <strong>name</strong>.
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="badgeFormGroup.get('preconditions').hasError('min')">
        There  must be at least <strong>one precondition</strong>: variable or precondition.
      </mat-error>
      <div fxLayout.gt-sm="row">
        <input formControlName="preconditions" type="number" hidden/>
        <div fxFlex.gt-sm="50%">
          <label>Variable Preconditions:</label>
          <input type="number" hidden/>
          <div *ngIf="editable && !preview" [formGroup]="variablePreconditionFormGroup" fxLayout.gt-sm="row" fxLayout.lt-sm="column"
               fxLayoutAlign.lt-sm="start stretch">
            <mat-form-field appearance="fill" fxFlex.gt-sm="45%">
              <mat-label>Variable</mat-label>
              <input matInput [matAutocomplete]="auto" #variableName formControlName="name" required>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of variablesFilteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div fxLayoutAlign="start start" fxFlex.gt-sm="55%" [ngStyle.gt-sm]="{'margin-left':'0.5em'}">
              <mat-form-field appearance="fill" fxFlex.gt-sm="50%">
                <mat-label>Threshold</mat-label>
                <input matInput type="number" min="0" step="1" #variableValue formControlName="value" required>
                <mat-error *ngIf="variablePreconditionFormGroup.get('value').hasError('required')">
                  Value must be <strong>greater than 0</strong>
                </mat-error>
              </mat-form-field>
              <button type="submit" mat-raised-button class="precondition-add-button" fxFlex.gt-sm="40%"
                      [disabled]="!variablePreconditionFormGroup.valid"
                      (click)="addPrecondition(variableName,variableValue)">
                Add
              </button>
            </div>
          </div>
          <div fxLayoutGap="10px grid" fxLayout="row wrap">
            <div *ngFor="let varPrec of badge.preconditions.variables">
              <button mat-stroked-button (click)="removeVariable(varPrec.variable)" [disabled]="!editable">
                <mat-icon aria-hidden="false" aria-label="Delete Precondition Variable" *ngIf="editable">delete
                </mat-icon>
                {{ varPrec.threshold }} {{ varPrec.variable }}</button>
            </div>
          </div>
        </div>
        <div fxFlex.gt-sm="50%">
          <label>Badge Preconditions:</label>
          <input type="number" hidden/>
          <form *ngIf="editable && !preview" fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="fill">
              <mat-label>Choose Badge</mat-label>
              <mat-select #badgeSelected>
                <mat-option *ngFor="let badge of badgeList" [value]="badge">
                  {{badge.badgeContainer.name}} {{ badge.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button class="precondition-add-button"
                    (click)="addBadgePrecondition(badgeSelected.value)">Add
            </button>
          </form>
          <!--          <div class="variablePreconditions" fxFlex="0 1 calc(20% - 10px)" *ngIf="previousBadgeComponent">-->
          <!--            <button mat-stroked-button [disabled]="true">-->
          <!--              {{ badgeContainerName }} - {{ previousBadgeComponent.badgeNewName }}-->
          <!--            </button>-->
          <!--          </div>-->
          <!--          <div *ngFor="let badgePrecondition of badge.preconditions.badgeList" class="variablePreconditions"-->
          <!--               fxFlex="0 1 calc(20% - 10px)">-->
          <!--            <button mat-stroked-button (click)="removeBadgePrecondition(badgePrecondition)"-->
          <!--                    [disabled]="!getBadgeById(badgePrecondition).removable">-->
          <!--              <mat-icon aria-hidden="false" aria-label="Delete Precondition Badge" *ngIf="editable">delete</mat-icon>-->
          <!--              {{ getBadgeById(badgePrecondition).badgeContainer.name }} - {{ getBadgeById(badgePrecondition).name }}-->
          <!--            </button>-->
          <!--          </div>-->

          <div fxLayoutGap="10px grid">
          <div *ngFor="let badgeP of preconditionsBadgeList" fxLayout="row wrap">
            <button mat-stroked-button (click)="removeBadgePrecondition(badgeP.id)"
                    disabled>
              <mat-icon aria-hidden="false" aria-label="Delete Precondition Badge">delete</mat-icon>
              {{ badgeP.badgeContainer.name }} - {{ badgeP.name }}
            </button>
          </div>
          <div *ngFor="let badgeP of newPreconditionsBadgeList" fxLayout="row wrap">
            <button mat-stroked-button (click)="removeBadgePrecondition(badgeP.id)">
              <mat-icon aria-hidden="false" aria-label="Delete Precondition Badge">delete</mat-icon>
              {{ badgeP.badgeContainer.name }} - {{ badgeP.name }}
            </button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-expansion-panel>
