#logo-container mat-icon{
  font-size: 6em;
  height: inherit !important;
  width: inherit!important;
}

#logo-container img{
  height: 100px;
  width: 100px;
}

.badge-content{
  margin-top: 0.5em;
  /*border: 1px solid #2f41e5;*/
  /*border-radius: 10px;*/
  /*flex-direction: row;*/
  /*box-sizing: border-box;*/
  /*display: flex;*/
}


#badgeInfo{
  width: 100%;
}

.precondition-add-button{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 0.5em;
}

.variablePreconditions{
   /*margin: 5px*/
}

