<h1 mat-dialog-title>Rule Triggered</h1>
<div mat-dialog-content>
  <app-rule-preview
    [rule]="rule"
    [acaList]="acaList"
  ></app-rule-preview>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Ok</button>
</div>
