<div fxLayout="column">
  <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" id="header" fxLayout.gt-sm="row" fxLayout.lt-sm="column"
       fxLayoutAlign.gt-sm="space-between center">
    <div></div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>{{'ACA'}}</mat-label>
        <mat-select (selectionChange)="loadAcaProfile()" [(ngModel)]="selectedACA">
          <mat-option>All</mat-option>
          <mat-option *ngFor="let aca of acaList" [value]="aca.url">{{ aca.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Timeframe</mat-label>
        <mat-select (selectionChange)="buildData()" [(ngModel)]="timeframe">
          <mat-option value="WEEK">Weekly</mat-option>
          <mat-option value="MONTH">Monthly</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" id="chart-container">
    <ngx-charts-line-chart
                           [scheme]="colorScheme"
                           [legend]="legend"
                           [showXAxisLabel]="showXAxisLabel"
                           [showYAxisLabel]="showYAxisLabel"
                           [xAxis]="xAxis"
                           [yAxis]="yAxis"
                           [xAxisLabel]="xAxisLabel"
                           [yAxisLabel]="yAxisLabel"
                           [timeline]="timeline"
                           (select)="onSelect($event)"
                           (activate)="onActivate($event)"
                           (deactivate)="onDeactivate($event)"
                           [results]="data"></ngx-charts-line-chart>
  </div>
</div>
