

.badge-content{
  text-align: center;
  mat-icon{
    font-size: 5em;
    color: white;
    height: inherit !important;
    width: inherit!important;
  }
  img {
    width: 130px;
    height: 130px;
  }
}

mat-card{
  max-width: 150px;
  float: left;
  margin-right: 3em;
  margin-bottom: 3em;
}

.enable-badge{
  position: absolute;
  top: 0.3em;
  right: 0.5em;
}
