<mat-card [style.background-color]=" badgeContainer.color">
  <mat-checkbox class="enable-badge" title="Enable/Disable Badge"
                [(ngModel)]="badge.active"
                (change)="changeActiveBadge(badge)" [disabled]="!canBeEnabled()"></mat-checkbox>
  <mat-card-title>{{ badge.name }}
  </mat-card-title>
  <div class="badge-content">
    <img *ngIf="badge.logo" [src]="badge.logo" />
    <mat-icon *ngIf="!badge.logo" aria-hidden="false" aria-label="Example home icon">emoji_events</mat-icon>
    <button mat-flat-button (click)="openDialog()">Show Preconditions</button>
  </div>
</mat-card>
