<div>
  <div id="preview-selected-image">
    <img *ngIf="imgSelected" [src]="imgSelected ? imgSelected.url : null"/>
    <mat-icon *ngIf="!imgSelected" [inline]="true" aria-hidden="false" aria-label="No Image Selected">emoji_events
    </mat-icon>
  </div>
  <div fxLayoutGap="10px grid" fxLayout="row" [ngStyle]="{'overflow-x':'scroll','padding-top':'20px'}">
    <div *ngFor="let img of images; let i = index" id="image-list">
      <img [src]=img.url (click)="selectedImage($event,img)" class="image-item"/>
      <button mat-mini-fab *ngIf="img.userId === userId">
        <mat-icon aria-hidden="false" aria-label="Delete Image">delete</mat-icon>
      </button>
      <!--      <div class="test-img-box" (click)="selectedImage($event,img)"></div>-->
    </div>
  </div>
  <div class="footer" fxLayout.gt-sm="row"  fxLayout.lt-sm="column">
    <input #imageInput type="file" accept="image/*" (change)="fileSelected = imageInput.files.item(0)" hidden/>
    <button *ngIf="!fileSelected" mat-raised-button (click)="imageInput.click()" [ngStyle]="{'flex':'none'}" [ngStyle.lt-sm]="{'margin-bottom':'1em'}">
      <mat-icon aria-hidden="false" aria-label="Choose from your device">add_a_photo</mat-icon>
      Choose from your device
    </button>
    <button *ngIf="fileSelected" mat-raised-button (click)="imageInput.value= null" [ngStyle]="{'flex':'none'}"  [ngStyle.lt-sm]="{'margin-bottom':'1em'}">
      <mat-icon aria-hidden="false" aria-label="Choose from your device">close</mat-icon>
      {{ fileSelected.name }}
    </button>
    <button mat-raised-button [ngStyle]="{'flex':'none'}"  [ngStyle.lt-sm]="{'margin-bottom':'2em'}" [disabled]="imageInput.files.length === 0 || uploadInProgress"
            (click)="uploadFile(fileSelected)">
      <mat-icon aria-hidden="false" aria-label="Upload new Logo Badge">cloud_upload</mat-icon>
      Upload
      <mat-progress-bar *ngIf="uploadInProgress" id="upload-image-progress-bar"mode="indeterminate"></mat-progress-bar>
    </button>
    <div fxLayout="row" fxLayoutAlign.gt-sm="end center" fxLayoutAlign.lt-sm="space-around center" [ngStyle]="{'width':'100%'}">
      <button mat-raised-button [mat-dialog-close]="null" [disabled]="uploadInProgress">Cancel</button>
      <button mat-raised-button [mat-dialog-close]="this.imgSelected ? this.imgSelected.url : null"
              [disabled]="!imgSelected || uploadInProgress">Save
      </button>
    </div>
  </div>
</div>
