#image-list img{
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}

#image-list button{
  position: relative;
  top: -90px;
  right: 20px;
}

#preview-selected-image{
  width: 250px;
  height: 250px;
  background-color: #e0fff6;
  margin: 1em auto;
  border: 3px solid #4e4e4e;
}

#preview-selected-image img {
  width: 250px;
  height: 250px;
}

#preview-selected-image mat-icon {
 font-size: 14em ;
  text-align: center;
  margin-top: 0.6em;
}

#image-selected{
  border: 3px solid #f44336;
}

.footer{
  margin: 1.5em 0.5em;
}

.footer button{
  margin-right: 1em;
}

#upload-image-progress-bar{
  margin-left: -16px;
  width: calc(100% + 32px);
}
