<!--<app-rule-item *ngFor="let rule of rules" [rule]="rule"></app-rule-item>-->
<div fxLayout="column">
<div fxLayout.gt-sm="row" fxLayout.lt-sm="column" id="header" fxLayoutAlign.gt-sm="space-between center">
  <button mat-raised-button id="create-rule-button" (click)="openNewBadgeDialog()"  [ngStyle]="{'margin-bottom': '0.5em'}">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
    {{ 'rules.createNew' | translate }}
  </button>
  <div fxLayout="row" >
    <mat-form-field appearance="fill">
      <mat-label>Activity Type</mat-label>
      <mat-select (selectionChange)="selectedFilterChange('activityType',$event)">
        <mat-option>All</mat-option>
        <mat-option *ngFor="let activityType of listActivityType" [value]="activityType">{{activityType}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'Variable' | translate}}</mat-label>
      <mat-select (selectionChange)="selectedFilterChange('variable',$event)">
        <mat-option>All</mat-option>
        <mat-option *ngFor="let variable of listVariable" [value]="variable">{{variable}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>OTM Concept</mat-label>
      <mat-select (selectionChange)="selectedFilterChange('concept',$event)">
        <mat-option>All</mat-option>
        <mat-option *ngFor="let concept of listConcept" [value]="concept">{{concept}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Activity Type Column -->
    <ng-container matColumnDef="activity_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity Type</th>
      <td mat-cell *matCellDef="let row"> {{row.activity_type}} </td>
    </ng-container>

    <!-- active Column -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Active</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox [(ngModel)]="row.active" (change)="ruleChangeActive(row)"></mat-checkbox>
      </td>
    </ng-container>

    <!-- variable Column -->
    <ng-container matColumnDef="rewards">
      <th mat-header-cell *matHeaderCellDef> Rewards</th>
      <!--      <td mat-cell *matCellDef="let row">{{ row.variable.assignment >0? '+' :'' }}{{ row.variable.assignment }} {{ row.variable.name }}</td>-->
      <td mat-cell *matCellDef="let row">
        <div *ngFor="let reward of row.rewards | keyvalue">
          <div *ngFor="let variable of reward.value" fxLayout="row">
            <b>{{ myGetRoleToString(reward.key) }}</b>: {{ variable.assignment > 0 ? '+' : '' }}{{ variable.assignment }} {{ variable.name }}
          </div>
        </div>
      </td>
    </ng-container>

    <!-- variable ActivityObjectProperties -->
    <ng-container matColumnDef="activityObjectProperties">
      <th mat-header-cell *matHeaderCellDef> Activity Object<br> Properties</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.activityObjectProperties">
          <p *ngIf="row.activityObjectProperties.length == 1">
            <b>{{row.activityObjectProperties[0].propertyName}}</b>: {{ row.activityObjectProperties[0].propertyValue }}
          </p>
          <mat-accordion *ngIf="row.activityObjectProperties.length > 1">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Show List
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p *ngFor="let prop of row.activityObjectProperties">
                <b>{{prop.propertyName}}</b>: {{ prop.propertyValue }}</p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </td>
    </ng-container>


    <!-- variable ReferenceProperties -->
    <ng-container matColumnDef="referenceProperties">
      <th mat-header-cell *matHeaderCellDef> Reference Object <br> Properties</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.referenceObjectProperties">
          <p *ngIf="row.referenceObjectProperties.length == 1">
            <b>{{row.referenceObjectProperties[0].propertyName}}</b>: {{ row.referenceObjectProperties[0].propertyValue }}
          </p>
          <mat-accordion *ngIf="row.referenceObjectProperties.length > 1">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Show List
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p *ngFor="let prop of row.referenceObjectProperties">
                <b>{{prop.propertyName}}</b>: {{ prop.propertyValue }}</p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </td>
    </ng-container>

    <!-- variable ACAS -->
    <ng-container matColumnDef="acas">
      <th mat-header-cell *matHeaderCellDef> Acas</th>
      <td mat-cell *matCellDef="let row">
        <mat-accordion *ngIf="row.acas">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Show List
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let aca of row.acas">{{aca}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </td>
    </ng-container>

    <!-- repetitions -->
    <ng-container matColumnDef="repetitions">
      <th mat-header-cell *matHeaderCellDef> Max Repetitions</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.maxEvDay"><b>Day</b>: {{ row.maxEvDay }} times</div>
        <div *ngIf="row.maxEvEver"><b>Ever</b>: {{ row.maxEvEver }} times</div>
      </td>
    </ng-container>


    <!-- Validity -->
    <ng-container matColumnDef="validity">
      <th mat-header-cell *matHeaderCellDef> Time Validity</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.validFrom"><b>From</b>: {{ formatDate(row.validFrom) }}</div>
        <div *ngIf="row.validTo"><b>To</b>: {{ formatDate(row.validTo) }}</div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>
</div>
