
#header{
  padding: 0.5em;
  mat-form-field{
    width: calc(33% - 0.5em);
    margin: 0 0.3em
  }
}


table{
  width: 100%;
}
.mat-column-activity_type{
  min-width: 160px;
}

.mat-column-rewards{
  min-width: 170px;
}

.mat-column-activityObjectProperties, .mat-column-referenceProperties, .mat-column-validity {
  min-width: 170px;
}

.mat-column-acas {
  min-width: 200px;
}
