<div ngClass.gt-sm="rule-container">
  <mat-accordion multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Main Properties
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="column">
        <mat-form-field appearance="fill" *ngIf="acas && acas.length > 0">
          <mat-label>ACAs</mat-label>
          <mat-select multiple placeholder="All" [(value)]="rule.acas">
            <mat-select-trigger *ngIf="acas">
              {{acas.length > 0 ? acas.length + ' ACAs' : 'All'}}
            </mat-select-trigger>
            <mat-select-trigger *ngIf="!acas">
              No ACA Selected
            </mat-select-trigger>
            <mat-option *ngFor="let aca of acas" [value]="aca.url"
                        disabled>{{aca.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <b>Activity Type: </b>
          <label>{{ rule.activity_type }}</label>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion multi *ngIf="rule">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Activity Object
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="column">
        <div>
          <b>Type: </b><label>{{conceptSelected}}</label>
        </div>
        <table #AOPTablePreview mat-table [dataSource]="activityObjectProperties"
               *ngIf="activityObjectProperties.length >0" class="mat-elevation-z8"
               [ngStyle]="{'margin-top':'0.3em'}">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Property Name</th>
            <td mat-cell *matCellDef="let prop">{{prop.propertyName}} </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Property Value</th>
            <td mat-cell *matCellDef="let prop">{{prop.propertyValue}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsPreview"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsPreview;"></tr>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion multi *ngIf="referenceSelected">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Reference Object
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="column">
        <div>
          <b>Type: </b><label>{{ referenceSelected }}</label>
        </div>
        <table #ROPTablePreview mat-table [dataSource]="referenceObjectProperties"
               *ngIf="referenceObjectProperties.length >0 " class="mat-elevation-z8"
               [ngStyle]="{'margin-top':'0.3em'}">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Property Name</th>
            <td mat-cell *matCellDef="let prop">{{prop.propertyName}} </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Property Value</th>
            <td mat-cell *matCellDef="let prop">{{prop.propertyValue}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsPreview"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsPreview;"></tr>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rewards
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <div fxLayout="column" *ngIf="rule.rewards">
          <div *ngIf="rule.rewards['ACTOR']" fxLayout="column">
            <label><b>Actor</b></label>
            <table #ActorRewardsTablePreview mat-table [dataSource]="rule.rewards['ACTOR']"
                   class="mat-elevation-z8"
                   [ngStyle]="{'margin-top':'0.3em'}">
              <ng-container matColumnDef="variable">
                <th mat-header-cell *matHeaderCellDef> Variable</th>
                <td mat-cell *matCellDef="let rew">{{rew.name}} </td>
              </ng-container>
              <ng-container matColumnDef="assignment">
                <th mat-header-cell *matHeaderCellDef> Assignment</th>
                <td mat-cell *matCellDef="let rew">{{rew.assignment}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsAssignmentPreview"></tr>
              <tr mat-row
                  *matRowDef="let row; columns: displayedColumnsAssignmentPreview;"></tr>
            </table>
          </div>
          <div *ngIf="rule.rewards['REFERENCE_OWNER']" fxLayout="column">
            <label><b>Reference Owner</b></label>
            <table #RefOwnRewardsTablePreview mat-table [dataSource]="rule.rewards['REFERENCE_OWNER']"
                   class="mat-elevation-z8"
                   [ngStyle]="{'margin-top':'0.3em'}">
              <ng-container matColumnDef="variable">
                <th mat-header-cell *matHeaderCellDef> Variable</th>
                <td mat-cell *matCellDef="let rew">{{rew.name}} </td>
              </ng-container>
              <ng-container matColumnDef="assignment">
                <th mat-header-cell *matHeaderCellDef> Assignment</th>
                <td mat-cell *matCellDef="let rew">{{rew.assignment}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsAssignmentPreview"></tr>
              <tr mat-row
                  *matRowDef="let row; columns: displayedColumnsAssignmentPreview;"></tr>
            </table>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion multi *ngIf="rule.validFrom || rule.validTo || rule.maxEvDay || rule.maxEvEver">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Temporal Properties
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" *ngIf="rule.validFrom || rule.validTo">
        <mat-form-field [ngStyle.gt-sm]="{'margin-right':'1em'}">
          <mat-label>
            Valid From
          </mat-label>
          <input matInput type="datetime-local" disabled [value]="rule.validFrom"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Valid Until
          </mat-label>
          <input matInput type="datetime-local" disabled [value]="rule.validTo"/>
        </mat-form-field>
      </div>
      <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" *ngIf="rule.maxEvDay || rule.maxEvEver">
        <mat-form-field [ngStyle.gt-sm]="{'margin-right':'1em'}">
          <mat-label>
            Max Daily Repetitions
          </mat-label>
          <input matInput type="number" disabled [value]="rule.maxEvDay"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Max Over All Repetitions
          </mat-label>
          <input matInput type="number" disabled [value]="rule.maxEvEver"/>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
