<mat-tab-group animationDuration="0ms">
  <mat-tab label="Badges"><app-badge-list></app-badge-list></mat-tab>
  <mat-tab label="Rules"><app-rule-list></app-rule-list></mat-tab>
  <mat-tab label="Logs"><app-gamification-log-list></app-gamification-log-list></mat-tab>
  <mat-tab label="ACA Stats"><app-aca-stats></app-aca-stats></mat-tab>
</mat-tab-group>

