<div>
  <h3>Add new Reward</h3>
  <form fxLayout.gt-sm="row" fxLayout.lt-sm="column" [formGroup]="newRewardFormGroup">
    <mat-form-field appearance="fill">
      <mat-label>Variable name</mat-label>
      <input matInput [matAutocomplete]="auto" formControlName="name">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of variablesFilteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Assignment</mat-label>
      <input matInput formControlName="assignment" type="number"/>
    </mat-form-field>
  </form>
  <div [ngStyle]="{'margin-top':'1em'}" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button [ngStyle]="{'margin-right':'1em'}" (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="getResponse()" [disabled]="newRewardFormGroup.invalid">
      <mat-icon aria-hidden="false" aria-label="add property to rule">add</mat-icon>
      Add Reward
    </button>
  </div>
</div>
