<mat-expansion-panel class="badge-content" multi hideToggle expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ positionTextFormatter()}} {{ badgeNewName }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="badgeFormGroup" *ngIf="badge !== undefined" fxLayout.lt-sm="column">
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex.gt-sm="25%" id="logo-container" [ngStyle.gt-sm]="{'margin-right':'1em'}">
      <img *ngIf="badgeNewLogo" [src]="badgeNewLogo"/>
      <mat-icon *ngIf="!badgeNewLogo" aria-hidden="false" aria-label="Example home icon">emoji_events</mat-icon>
      <button mat-raised-button [ngStyle]="{'width':'100%'}" (click)="openLogoGallery()" *ngIf="!preview">Choose Image</button>
    </div>
    <div id="badgeInfo" fxFlex.gt-sm="75%" fxLayout="row" fxLayoutAlign.lt-sm="start stretch">
      <mat-form-field appearance="fill" [ngStyle.gt-sm]="{'max-width':'40%'}"  *ngIf="!preview">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
      <mat-form-field appearance="fill" [ngStyle.gt-sm]="{'max-width':'40%'}"  *ngIf="!preview">
        <mat-label>Position</mat-label>
        <input matInput  formControlName="position" type="number" min="1" required>
      </mat-form-field>
    </div>
  </form>
</mat-expansion-panel>
