<div id="header" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign.gt-sm="space-between center">

  <button mat-raised-button (click)="openNewBadgeDialog()" [ngStyle]="{'margin-bottom': '0.5em'}">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
    Create New Badge Container
  </button>

  <div fxLayout="row">
    <mat-form-field appearance="fill" class="selected-fields">
      <mat-label>Variable</mat-label>
      <mat-select (selectionChange)="variableSelected = $event.value">
        <mat-option>Any</mat-option>
        <mat-option *ngFor="let variable of listVariable" [value]="variable">{{variable}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="selected-fields">
      <mat-label>Timeframe</mat-label>
      <mat-select (selectionChange)="timeFrameSelected = $event.value">
        <mat-option>Any</mat-option>
        <mat-option *ngFor="let timeframe of timeframes" [value]="timeframe">{{timeframe}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="selected-fields">
      <mat-label>Badge Type</mat-label>
      <mat-select (selectionChange)="badgeTypeSelected = $event.value">
        <mat-option>Any</mat-option>
        <mat-option *ngFor="let type of badgeType" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<mat-accordion>
  <div *ngFor="let badgeContainer of badgeContainerFiltered">
    <mat-expansion-panel *ngIf="showBadgeContainer(badgeContainer)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ badgeContainer.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-stroked-button [ngStyle]="{'margin-bottom':'1em'}" (click)="editBadgeContainer(badgeContainer)">
        <mat-icon aria-hidden="false" aria-label="Edit Badge Icon">edit</mat-icon>
        Edit Badge Container
      </button>
      <div>
        <app-badge-card *ngFor="let badge of badgeContainer.getBadgeList()" [badge]="badge"
                        [badgeContainer]="badgeContainer"
                        [badgeList]="badgeList"></app-badge-card>
      </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>

