//.mat-form-field {
//  font-size: 14px;
//  width: 15%;
//  margin-top: 0.5em;
//  margin-left: 1em;
//  //margin-right: 1em;
////}

//
#header {
  padding: 0.5em;
  mat-form-field{
    width: calc(33% - 0.5em);
    padding: 0 0.3em
  }
}
