<div mat-dialog-content>
  <p >{{text}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">No Thanks</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>
